@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Niramit&display=swap);

#block-system-main {
  width: 100%;
  padding-left: 200px;
}

#block-system-main:after {
  content: "";
  display: table;
  clear: both;
}

.front-page-text {
  background-color: #fff;
  padding: 50px;
}

.front-page-map {
  padding-top: 200px;
  margin-left: -50px;
}

.button {
  padding: 13px 33px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background-color: #ed1c24;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1em;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s;
}

.button:hover {
  background-color: #006f89;
}

h3 {
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #006f89;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.27em;
  font-weight: 900;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #006f89;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.27em;
  font-weight: 900;
  font-size: 30px;
  margin: 20px;
}

p {
  font-family: "Niramit", sans-serif;
  font-size: 12px;
  line-height: 1.9em;
  color: #58595b;
  margin-bottom: 40px;
}

.column {
  float: left;
  width: 40%;
}
