@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

#block-system-main-menu li {
  display: inline;
}

#block-system-main-menu ul {
  list-style-type: none;
  margin-left: 270px;
  padding-top: 50px;
}

#block-system-main-menu a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding: 50px 20px;
}

#block-system-main-menu a:hover {
  text-decoration: underline;
}

.logo-and-slogan {
  width: 100%;
  min-width: 260px;
  max-width: 1140px;
  margin: 0 auto;
}


#publiek-water-logo {
  background-image: url('images/logo_bg.png');
  background-size: 100% 100%;
  background-position: 50% 100%;
  width: 254px;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  width: 132px;
  padding: 61px;
}

#header_afbeelding {
  background-image: url('images/headerfoto.jpg');
  background-size: cover;
  width: 100%;
  height: 740px;
  position: absolute;
  z-index: -1;
  margin: 0;
}

#secondary-menu-links {
  border: 1px solid white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  padding: 15px;

}

#secondary-menu-links a {
  color: white;
  text-decoration: none;
}

#secondary-menu {
  margin-top: 300px;
  margin-right: 45%;
  z-index: 99;
}

#featured {
  margin-bottom: 420px;
}
