/* ---------- Basic Layout Styles ----------- */

html,
body,
#page {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  width: 100%;
  scroll-behavior: smooth;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

#page-wrapper {
  min-height: 100%;
  min-width: 960px;
  margin: 0;
}

#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  margin-left: auto;
  margin-right: auto;
}

#primary_menu {
  width: 100px;
}



p {
  margin: 10px 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


#header div.section {
  position: relative;
}


#secondary-menu {
  position: absolute;
  right: 0;
  /* LTR */
  top: 0;
}

#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left;
  /* LTR */
  position: relative;
}

.one-sidebar #content {
  width: 720px;
}

.two-sidebars #content {
  width: 480px;
}

.no-sidebars #content {
  width: 960px;
  float: none;
}

#sidebar-first,
#sidebar-second {
  width: 240px;
}

#main-wrapper {
  min-height: 300px;
}

#content .section,
.sidebar .section {
  padding: 0 15px;
}

#breadcrumb {
  margin: 0 15px;
}

.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}

#footer-wrapper {
  padding: 35px 5px 30px;
  margin-top: 50px;
}

.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}

#footer {
  width: 940px;
  min-width: 920px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}
